<div class="card gedf-card">
    <div class="card-header">
        <div class="h5 text-center">Hashtags</div>
    </div>
    {{#each hashtags}}
    <div class="card-body">
        <h5 class="card-title">{{#tw hashtag}}{{/tw}}</h5>
    </div>
    {{/each}}
</div>