<div class="card gedf-card" id="hashtags">
    <div class="card-header">
        <div class="h5 text-center">Hashtags</div>
    </div>
    <div v-for="hashtag in hashtags " class="card-body">
        <h5 class="card-title"><a :href="'/hashtags/' + hashtag.hashtag.replace('#', '')"> \{{hashtag.hashtag}} </a></h5>
    </div>
</div>