<div class="container-fluid gedf-wrapper">
        <div class="row">
            {{> userlogged }}
            <div class="col-md-6 gedf-main">
                {{> formpost }}
                <!-- Post /////-->
                {{> post }}
                <!-- Post /////-->
            </div>
            <div class="col-md-3">
                {{> usernotfolloweds }}
                {{> hashtags }}
            </div>
        </div>
    </div>